html,
body,
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

body, p, ol, ul, td {
  font: 1em/1.5em sans-serif;}

/* https://web.dev/one-line-layouts/ */
body {
  height: 100%;
  width: 100%;
}


main {
  padding: 0;
  margin: 0;
  height: 100vh; /* Change min-height to height */
  width: 100%;
  display: flex;
  flex-direction: row;
}

#map {
  flex-grow: 1;
  z-index: 1;
}

#searchbar{ 
  position: absolute; /* or position: absolute; */
  top: 10px; /* Adjust the top position as needed */
  left: 0px; /* Adjust the left position as needed */
  display: inline-block; 
  margin-left: 10%; 
  background: rgb(255, 255, 255, 0.5);
  padding:15px; 
  border: 1px solid rgb(61, 61, 61);
  border-radius: 10px; 
  z-index: 62;
} 

input[type=text] { 
   width: 30%; 
   -webkit-transition: width 0.15s ease-in-out; 
   transition: width 0.15s ease-in-out; 
} 

/* When the input field gets focus, 
     change its width to 100% */
input[type=text]:focus { 
  width: 50%; 
} 

a:visited {color: #666;}

/* table styles */
table {
  display: inline-block;
  vertical-align: top;
  /*white-space: nowrap;*/
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.5em;
}

thead, tbody {
  border: #666 solid;
  border-width: 2px 0;
}

tr th:nth-child(even),
tr td:nth-child(even) {
  background: rgba(204,204,204,0.4);
}
th, td {padding: 0.2em 0.5em;}
th {
  text-align: left;
  border-bottom: 2px #666 solid;
}
td {text-align: right;}
td:first-child {font-weight: bold;}


.legend {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 200px;
    z-index: 2;
  }


.legend-color {
    width: 25px;
    height: 10px;
    display: inline-block;
    border: 0.3px solid rgba(61, 61, 61, 0.5) ;
    margin-right: 5px;
}

#side-panel {
  flex-basis: 400px;
  background-color: rgba(255, 255, 255, 0.8); 
  transition: 1s; /* 0.5 second transition effect to slide in the sidebar */
  display: none;
  overflow-y: scroll;
}

#side-panel a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #494949;
  display: block;
  transition: 0.3s;
}

#side-panel a:hover, a:hover {
  color: #59763d;
  transition: 0.3s;
}

#side-panel .content {
  padding: 20px;
}

.closebtn {
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the left position as needed */
  position: absolute;
  font-size: 40px;
  cursor: pointer;
}

.openbtn {
  position: absolute; /* or position: absolute; */
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the left position as needed */
  display: inline-block; 
  font-size: 25px;
  cursor: pointer;
  background: rgb(255, 255, 255, 0.8);
  border: 1px solid rgb(61, 61, 61, 0.3) ;
  border-radius: 10px;
  box-shadow: -3px 0 5px rgba(61, 61, 61, 0.2);
  color: #494949;
  padding: 10px;
  z-index: 3;
  transition: 0.3s;
}

#feature-navigation {
  display: flex;
  margin: 10px 0px 10px 0px;
}

#back-button,
#next-button {
  display: none;
  flex: 1;
  background-color:  rgb(237, 247, 222);
  border: 0.5px solid rgba(61, 61, 61, 0.5) ;
  font-size: 20px;
  cursor: pointer;
}

#back-button:hover,
#next-button:hover {
  background-color:  rgb(195, 214, 167);
}