html,
body,
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

body, p, ol, ul, td {
  font: 1em/1.5em sans-serif;}

/* https://web.dev/one-line-layouts/ */
body {
  height: 100%;
  width: 100%;}

main {overflow: auto;}

main {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#map {
  flex-grow: 1;
}

a {color: #4b2e83;}
a:visited {color: #666;}
a:hover {text-decoration: none;}

/* table styles */
table {
  display: inline-block;
  vertical-align: top;
  /*white-space: nowrap;*/
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0.5em;
}

thead, tbody {
  border: #666 solid;
  border-width: 2px 0;
}

tr th:nth-child(even),
tr td:nth-child(even) {
  background: rgba(204,204,204,0.4);
}
th, td {padding: 0.2em 0.5em;}
th {
  text-align: left;
  border-bottom: 2px #666 solid;
}
td {text-align: right;}
td:first-child {font-weight: bold;}


.legend, .score-filter-control {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 200px;
    z-index: 2;
  }


.legend-color {
    width: 25px;
    height: 5px;
    display: inline-block;
    border: 0.5px solid rgba(61, 61, 61, 0.503) ;
    margin-right: 5px;
}

#side-panel {
  flex-basis: 400px;
  background-color: #111; /* Black*/
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

#side-panel a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  overflow: hidden;
}

#side-panel a:hover, a:hover {
  color: #f1f1f1;
}

.closebtn {
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the left position as needed */
  position: absolute;
  font-size: 36px;
  cursor: pointer;
}

.openbtn {
  position: absolute; /* or position: absolute; */
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the left position as needed */
  display: none; 
  font-size: 25px;
  cursor: pointer;
  background: transparent;
  color: #818181;
  padding: 10px;
  z-index: 3;
  border: none;
  transition: 0.3s;
}
